sudo: true
services:
  - docker
language: python
python:
  - "2.7"
  - "3.6"
  - "3.5"
  - "3.4"
install:
    - "pip install -r requirements-test.txt"
script:
    PYTHONPATH=. py.test --cov dockerctx tests/
after_success:
    coveralls
deploy:
  provider: pypi
  user:
  password:
  on:
    branch: master
